*, *::before, *::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: #b3daff;
	font-family: 'Merienda', cursive;
	display: flex;
	justify-content: center;
	cursor: pointer;
	flex-direction: column;
	height: 100vh;
	overflow-y: hidden;
}

#parent{
	display: flex;
	flex-direction: column;
	min-width: 22%;
	min-height: 22%;
	margin: auto;
}
 
#title, #restart{
	min-width: 100%;
	margin: auto;
	height: 10%;
	background:#ff4d6d;
	text-align: center;
	vertical-align: middle;
	border-radius: 1rem;
	color:#001a4d;
	padding: 0rem 0 0.3rem;
	font-weight: 500;
}

#title{
	font-size: 2.1rem;
	text-transform: capitalize;
}

#restart{
	font-size: 2rem;
}

#sqrsContainer{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 8px;
	justify-content: center;
	margin: 8px 0px;
	min-width: 31rem;

	}

.sqr{
width: 200px;
height: 200px;
font-size: 7rem;
background:#00134d;
text-align: center;
vertical-align: middle;
inset: 0;
padding-bottom: 0.3em;
color: #ff6666;
border-radius: 0.8rem;
}


.sqr:hover{
	background: #4d88ff;
}

/* animation Cases */
.drawCase{
	animation-name: noWinner;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	font-weight: bold;
}

@keyframes noWinner {
	from{color: gray;}
	to { color: #b3d1ff;}
}

 .winningCase{
	animation-name: celebration;
	animation-duration: 1.293s;
	animation-iteration-count: infinite;
	color: #ff1a1a;
	text-align: center;
	width: 200px;
	height: 200px;
	border-radius: 1rem;
	padding-bottom: 1.1em;
}

@keyframes celebration {
	0%{background:#ccccff; font-size: 7.1rem; font-weight: bold; }
	60%{background:#99bbff; font-size: 6.84rem;}
	100%{background:#ffb3b3; font-size: 7.5rem;}
}
 

 /* Media Query  */
@media (max-width: 768px) {

	body{
		min-width: 360px;
	}
	
	#title, #restart {
	/* min-width: 17.7rem; */
	font-size: 1.4rem;
	height: 11%;
	border-radius: 2rem;
	}

#sqrsContainer{
	min-width: 10rem;
}

.sqr{
width: 110px;
height: 110px;
font-size: 3.75rem;
padding-bottom: 0.3em;
border-radius: 0.8rem;
}

 .winningCase{
	width: 110px;
	height: 110px;
	border-radius: 0.8rem;
	padding-top: 1rem;
}

@keyframes celebration {
	0%{background:#ccccff; font-size: 2.89rem; font-weight: bold; }
	60%{background:#99bbff; font-size: 2.65rem;}
	100%{background:#ffb3b3; font-size: 2.98rem;}
}
 
	
}

